@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,700&display=swap');

html {
    font-size: 10px;
}

body {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    padding: 3.5rem 8.5%;
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-header-logo {
    margin-right: 6rem;
    width: 23rem;
    height: 4.6rem;
    text-align: center;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 1.9rem;
    font-weight: 700;
    font-size: 1.8rem;
    min-width: 14.7rem;
    text-align: center;
    line-height: 2.2rem;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: #E8E6E6;
    border: 1px solid #E8E6E6;
}

.button:active {
    color: #E4A92E;
}

.site-navigation-item {
    margin-right: 3rem;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts-item {
    margin-right: 2rem;
}

.header-contacts-item:last-child {
    margin-right: 0;
}

.header-contacts-item a img {
    width: 3rem;
    height: 3rem;
    transition: transform 0.2s;
}

.header-contacts-item a img:hover {
    transform: scale(1.1);
}

.heading {
    background-image: url(../images/main-screen.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    height: calc(100vh - 11.6rem);
}

.heading-wr {
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100vh - 11.6rem);
}

.heading-content {
    position: relative;
    display: flex;
    padding: 30vh 16vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 11.6rem);
}

.heading-caption {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 8.8rem;
    color: white;
    border: 3px solid #E4A92E;
    padding: 1rem 3.5rem;
}

.heading-description {
    font-weight: 300;
    font-size: 6.4rem;
    color: white;
    text-align: center;
    line-height: 7.8rem;
}

.next-button,
.prev-button,
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    font-size: 0;
    border: 2px solid white;
    border-radius: 50%;
    width: 7.2rem;
    height: 7.2rem;
    right: 11.8rem;
    bottom: 6rem;
}

.next-button::before,
.prev-button::before,
.swiper-button-next::before,
.swiper-button-prev::before {
    position: absolute;
    content: '';
    width: 2.7rem;
    top: 65%;
    right: 15.5%;
    margin: -0.9rem 0 0 -2rem;
    border-top: 2px solid white;
    transform: rotate(-40deg);
    border-bottom-left-radius: 1rem;
    transition: top 0.2s;
}

.next-button::after,
.prev-button::after,
.swiper-button-next::after,
.swiper-button-prev::after {
    position: absolute;
    content: '';
    width: 2.7rem;
    top: 65%;
    margin: -0.9rem 0 0 -2rem;
    border-top: 2px solid white;
    transform: rotate(40deg);
    right: 44.5%;
    border-bottom-right-radius: 1rem;
    transition: top 0.2s;
}

.next-button:hover:after,
.prev-button:hover:after,
.swiper-button-next:hover:after,
.swiper-button-prev:hover:after,
.next-button:hover::before,
.prev-button:hover::before,
.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
    top: 75%;
}

.bake {
    display: flex;
    background-image: url(../images/Frame.png), url(../images/Frame-2.png);
    background-position: bottom right, top left;
    background-size: contain, 20%;
    background-repeat: no-repeat;
    padding: 10rem 18rem 6rem 12.8rem ;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.player {
    position: relative;
    border: 2px solid black;
    margin-right: 13.4rem;
    width: 100%;
    max-width: 37.3%;
}

.player::before {
    position: absolute;
    content: '';
    background-image: url(../images/RO.png);
    background-size: cover;
    width: 36.2%;
    height: 16%;
    top: 6%;
    right: -40%;
}

/* .player::after {
    position: absolute;
    content: '';
    background-image: url(../images/play_icon\ 1.svg);
    background-size: cover;
    width: 23.7%;
    height: 20%;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    margin: -10% 0 0 -10%;
} */

/* .player img {
    position: relative;
    bottom: 2.5rem;
    right: 2.5rem;
} */

.video-play {
    position: absolute;
    content: '';
    background-image: url(../images/play_icon\ 1.svg);
    background-size: cover;
    width: 25%;
    height: 20%;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    margin: -10% 0 0 -10%;
    opacity: 0;
    transition: opacity 0.5s;
}

.player:hover .video-play {
    opacity: 1;
}

.player video {
    display: block;
    position: relative;
    bottom: 2rem;
    right: 2rem;
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid black;
}

.bake-info {
    width: 100%;
}

.bake-info h2 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.4rem;
    margin-bottom: 3rem;
}

.bake-info p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.9rem;
}

.bake-info-wr {
    display: block;
}

.pastry {
    display: flex;
}

.pastry-img {
    flex-grow: 1;
    width: 50%;
}

.pastry-img img {
    width: 100%;
    height: 100%;
}

.pastry-info {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding: 7rem 9rem  7rem 10rem;
    width: 50%;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    background-color: #E8E6E6;
}

.ingredients-cheese {
    background: url(../images/cheese.jpg) center center no-repeat;
    background-size: cover;
    flex-grow: 1;
    width: 50%;
    line-height: 5.2rem;
    padding: 9% 18rem 25% 18rem;
}

.ingredients-cheese h2 {
    font-weight: 700;
    font-size: 4.8rem;
}

.ingredients-flour {
    background: url(../images/flour.jpg) bottom center no-repeat;
    background-size: cover;
    flex-grow: 1;
    width: 50%;
    line-height: 5.2rem;
    padding: 9% 18rem 25% 18rem;
}

.ingredients-flour h2 {
    font-weight: 700;
    font-size: 4.8rem;
}

.ingredients-greens {
    position: relative;
    background: url(../images/greenery.jpg) bottom center no-repeat;
    background-size: cover;
    width: 35rem;
    height: 35rem;
    padding: 14.2rem 6.3rem;
    bottom: 11.3rem;
    left: 15.2rem;
}

.ingredients-greens h2 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-transform: uppercase;
}

.ingredients-greens p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    text-transform: lowercase;
}

.ingredients-info {
    color: black;
    text-align: left;
    width: 97rem;
    height: 26rem;
    border: 2px solid black;
    border-top: none;
    padding-top: 6rem;
    padding-left: 18.8rem;
    width: 70%;
}

.ingredients-info h2 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.5rem;
}

.ingredients-info p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.slider-menu {
    max-height: 929px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.gallery-top {
    margin-bottom: 20px;
}

.swiper-button-next {
    right: 5rem;
    bottom: 50%;
    margin-bottom: -3.6rem;
    transform: rotate(-90deg);
    border-color: black;
}

.swiper-button-prev {
    left: 5rem;
    bottom: 50%;
    margin-bottom: -3.6rem;
    transform: rotate(90deg);
    border-color: black;
}

.swiper-button-next::before,
.swiper-button-prev::before,
.swiper-button-next::after,
.swiper-button-prev::after {
   border-color: black;
}

.gallery-thumbs {
    height: 30rem;
}

.prewiev-gallery .slide-1 {
    background-image: url(../images/slide-1.jpg);
    background-size: cover;
    background-position: left bottom;
}

.prewiev-gallery .slide-2 {
    background-image: url(../images/slide-2.jpg);
    background-size: cover;
    background-position: center center;
}

.prewiev-gallery .slide-3 {
    background-image: url(../images/slide-3.jpg);
    background-size: cover;
    background-position: bottom right;
}

.prewiev-gallery .slide-4 {
    background-image: url(../images/slide-4.jpg);
    background-size: cover;
    background-position: bottom right;
}
.menu {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 8.5rem;
}

.menu::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 74%;
    background: url(../images/Frame-2.jpg) center center / contain no-repeat;
    opacity: 0.07;
    z-index: -1;
    top: -26%;
    left: -4%;
}

.menu::after {
    content: '';
    position: absolute;
    width: 36.5%;
    height: 48%;
    background: url(../images/stiker.jpg) center center / contain no-repeat;
    z-index: -1;
    opacity: 0.1;
    bottom: 0;
    right: 0;
}

.menu-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.8rem;
}

.menu-logo img {
    width: 24rem;
    height: 7rem;
}

.menu-caption {
    font-weight: 400;
    font-size: 2.4rem;
    padding: 0.5rem 2.2rem;
    border: 2px solid black;
    border-top: none;
}

.menu-img {
    margin-bottom: 5rem;
}

.menu-img img {
    border: 1px solid black;
    box-shadow: 1rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25) ;
}

.swiper-container-menu {
    overflow: hidden;
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-container-menu .swiper-pagination-bullet {
    background-color: transparent;
    opacity: 1;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

.swiper-container-menu .swiper-pagination-bullet-active {
    background-color: black;
}

.delivery {
    padding-bottom: 7rem;
    background-color: #E8E6E6;
}

.delivery-head {
    height: 7.5rem;
    width: 100%;
    background: url(../images/Layer\ 2.svg) center left / contain repeat;
    margin-bottom: 9.5rem;
}

.delivery-caption {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.8rem;
    border: 1px solid black;
    padding: 1rem 4.7rem;
    width: 43.3rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.delivery-caption::before {
    content: '';
    position: absolute;
    background: url(../images/icon-car-2.png) center / contain no-repeat;
    width: 55%;
    height: 200%;
    left: 50%;
    top: -115%;
    margin-left: -27.5%;
    z-index: 0;
    opacity: 0.2;
}

.delivery-wr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 400;
}

.delivery-contacts {
    width: 50%;
    margin-top: -2.5rem;
    padding: 0 10%;
}

.delivery-contacts p:first-child {
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1.2rem;
}

.delivery-contacts .button {
    position: relative;
    text-align: right;
    min-width: 29.5rem;
    background-color: #FFAC00;
    border: none;
    padding: 2.2rem 4.5rem;
    font-size: 2.4rem;
    margin: 3rem 0;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.delivery-contacts .button:last-child {
    margin-top: 0;
} 

.delivery-contacts .button::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 50%;
    background: center / contain no-repeat url(../images/Layer\ 1.svg);
    top: 50%;
    left: 2.4rem;
    margin-top: -5%;
}

.delivery-contacts .button:last-child::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 50%;
    background: center / contain no-repeat url(../images/watsapp.svg);
    top: 50%;
    left: 2.4rem;
    margin-top: -5%;
}

.delivery-contacts .button:hover {
    background-color: #F3C157;
}

.delivery-contacts .button:active {
    background-color: #E4A92E;
    color: black;
}

.delivery-info {
    width: 50%;
}

.delivery-info p:first-child {
    font-weight: 700;
}

.delivery-price {
    display: block;
    font-size: 3.6rem;
}

.delivery-info p:nth-child(2) {
    display: inline-block;
    position: relative;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.delivery-info p:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background: center / contain no-repeat url(../images/clock.svg);
    top: 0;
    left: -10%;
}

.delivery-info p:nth-child(3) {
    margin-bottom: 1.6rem;
}

.delivery-info p:nth-child(4) {
    margin-bottom: 1.2rem;
}

.delivery-info p:nth-child(5) {
    display: inline-block;
    position: relative;
    font-weight: 300;
    margin-bottom: 2rem;
}

.delivery-info p:nth-child(5)::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2.7rem;
    background: center / contain no-repeat url(../images/Vector.svg);
    top: 0;
    left: -5%;
}

.delivery-info p:last-child {
    font-weight: 300;
}

.contacts {
    display: flex;
}

.contacts-info-wr {
    width: 50%;
    background: center / cover no-repeat url(../images/CE3B7DE3-77D7-47D3-9E9A-7BBE300D81E7\ 2.jpg);
}

.contacts-info {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    padding: 5rem 0 18rem 10rem;
    font-weight: 500;
}

.contacts-info h2 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    border: 1px solid white;
    padding: 1.4rem 1.6rem;
    margin-bottom: 4rem;
}

.contacts-info p:nth-child(2){
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-bottom: 3.4rem;
    margin-left: 2.3rem;
}

.contacts-info p:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2.7rem;
    background: center / contain no-repeat url(../images/Vector\ —\ копия.svg);
    top: 50%;
    left: -5%;
    margin-top: -1.35rem;
}

.contacts-info p:nth-child(4), 
.contacts-info p:nth-child(6){
    display: inline-block;
    font-weight: 300;
    margin-bottom: 3.4rem;
}

.contacts-info p:nth-child(7) {
    margin-bottom: 1.3rem;
}

.contacts-info a {
    color: white;
}

.contacts-info img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

.contacts-map {
    background: center / cover no-repeat url(../images/Mask\ Group-2.jpg);
    width: 50%;
}

.main-footer {
    display: flex;
    background-color: black;
    justify-content: flex-end;
}

.main-footer>img {
    margin-right: auto;
    margin-left: 7rem;
}

.main-footer a {
    align-self: center;
    margin-right: 3rem;
}

.main-footer a:nth-child(3) {
    margin-right: 10rem;
}

@media screen and (max-width:1430px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width:1260px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width:1130px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 7px;
    }
}